@media (max-width: 768px) {
  .header-container {
    display: none;
  }

  .header-container-mob {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
  }

  .header-menu button {
    display: flex;
    flex-direction: column;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: #E1D4C9;
    border-radius: 100px;
    border: 1px solid var(--border-dark, #665F55);
  }

  .header-menu button div {
    width: 16px;
    height: 1px;
    background-color:#403F3D;
    border-radius: 100px;
  }

  .about {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    margin-top: 100px;
  }

  .about-title {
    height: auto;
  }

  .about-images {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;
    height: auto;
  }

  #about-image-2 {
    display: none;
  }

  #about-image-3 {
    display: none;
  }

  .mobile-app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-top: 100px;
  }

  .app-content {
    margin: 100px 0;
  }

  .footer {
    width: 100%;
    height: auto;
    margin-top: 100px;
    border-radius: 40px;
    background: #665F55;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .footer-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    margin: 0px; 
    padding: 100px 60px;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0px 60px 100px;
}

/* menu page */
.menu-offer-title {
  width: 100%;
  height: auto;
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 125%;
  text-align: center;
  color: #403F3D;
}

.menu-preview {
  display: flex;
  flex-wrap: wrap;
  height: 1052px;
  overflow: hidden;
 
  width: 100%;
  gap: 40px;
}
}
