/* reset  */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px; /* 14 */
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 600;
  /* 400 */
}

/* fonts */
@font-face {
  font-family: 'Inter';
  src: url("../assets/fonts/Inter/Inter-VariableFont_slnt,wght.ttf");
}

/* styles */
html {
  scroll-behavior: smooth;
}

.coffeehouse-site {
  max-width: 1440px;
  background-color: #E1D4C9;
  font-family: 'Inter', sans-serif;
}

.main-container {
  width: 100%;
  padding: 20px 40px 40px;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-container-mob {
  display: none;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header-logo img {
  width: 100px;
  height: 60px;
}

.header-menu ul {
  display: flex;
  justify-content: center;
  gap: 40px;
  align-items: center;
}

.header-menu a {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #403F3D;
}

.coffee-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.coffee-menu a {
  color: #403F3D;
}

.coffee-menu span {
  width: 44px;
  height: 24px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;

  color: #403F3D;
}

.coffee-menu img {
  padding-bottom: 4px;
}

.header-hero {
  width: 100%;
  height: 644px;
  border-radius: 40px;
  background-image: url(../assets/images/img-hero.png);
  background-position: top center;
  background-repeat: no-repeat;
}

.enjoy {
  margin-top: 100px;
  margin-left: 100px;
  width: 530px;
  height: 444px;
}

.enjoy-title {
  width: 100%;
  color: #E1D4C9;
  font-weight: 600;
  font-size: 72px;
  line-height: 105%;
  padding-bottom: 40px;
}

.oblique {
  display: inline-block;
  transform: skew(-7deg);
  color: #B0907A;
}

.enjoy-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #E1D4C9;
  padding-bottom: 40px;
}

.enjoy-button {
  width: 200px;
  height: 64px;
  border-radius: 100px;
  background-color: #E1D4C9;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;

  text-align: center;
  color: #403F3D;
}

.enjoy-button a {
  padding: 20px 78px;
  display: flex;
  justify-content: center;
  color: #403F3D;
}

.favorite-coffee {
  width: 100%;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.favorite-coffee-title {
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 125%;
  text-align: center;
  color: #403F3D;
  margin-bottom: 40px;
}

.favorite-coffee-container {
  margin-bottom: 40px;
  width: 100%;
}

.favorite-coffee-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 684px;
}

.favorite-coffee-wrapper button {
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;

  width: 60px;
  height: 60px;

  border: 1px solid #665F55;
  border-radius: 100px;
  background-color: #E1D4C9
}

.favorite-coffee-slide {
  width: 480px;
  height: 640px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slide-image img {
  width: 480px;
  height: 480px;
}

.slide-title {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 125%;
  text-align: center;
  margin-top: 20px;
  color: #403F3D;
}

.slide-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  margin-top: 16px;
  color: #403F3D;
  width: 480px;
}

.slide-price {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 125%;
  text-align: center;
  margin-top: 16px;
  color: #403F3D;
}

.slide-controls {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;

  width: 144px;
  height: 4px;
}

.slide-control {
  width: 40px;
  height: 4px;
  background: #C1B6AD;
  /* background: #665F55; */
  border-radius: 100px;
}

.about {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 100px;
}

.about-title {
  display: flex;
  width: 100%;
  
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 125%;

  color: #403F3D;
  margin-bottom: 40px;
}

.about-images {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
  justify-content: center;
}

.about-images-column {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.about-images-column div {
  
}

#about-image-1 {
  width: 41.25rem;
  height: 36.875rem;
  border-radius: 20px;
  background-image: url(../assets/images/about-1.png);
  background-position: center;
  background-repeat: no-repeat;
}

#about-image-2 {
  width: 41.25rem;
  height: 430px;
  border-radius: 20px;
  background-image: url(../assets/images/about-2.png);
  background-position: center;
  background-repeat: no-repeat;
} 

#about-image-3 {
  width: 41.25rem;
  height: 430px;
  border-radius: 20px;
  background-image: url(../assets/images/about-3.png);
  background-position: center;
  background-repeat: no-repeat;
} 

#about-image-4 {
  width: 41.25rem;
  height: 36.875rem;
  border-radius: 20px;
  background-image: url(../assets/images/about-4.png);
  background-position: center;
  background-repeat: no-repeat;
} 

.about-image-small {
  width: 41.25rem;
  height: 26.875rem;
  border-radius: 20px;
  background-position: top center;
  background-repeat: no-repeat;
}

.about-image-small img {
  width: 41.25rem;
  height: 26.875rem;
  border-radius: 20px;
  background-position: top center;
  background-repeat: no-repeat;
}

.about-image-big {
  width: 41.25rem;
  height: 36.875rem;
  border-radius: 20px;
} 

.about-image-big img {
  width: 41.25rem;
  height: 36.875rem;
  border-radius: 20px;
}

.mobile-app {
  display: flex;
  justify-content: center;
  gap: 100px;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 100px;
}

.app-content {
  display: flex;
  flex-direction: column;
  margin: 144px 0;
}

.app-title {
  width: 630px;
  height: 150px;
  font-weight: 600;
  font-size: 60px;
  line-height: 125%;
  color: #403F3D;
}

.app-text {
  margin-top: 40px;
  width: 630px;
  height: 48px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #403F3D;
}

.app-buttons {
  width: 100%;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.app-buttons button {
  width: 200px;
  height: 64px;
  border-radius: 100px;
  background-color: #E1D4C9;
  box-sizing: border-box;
  border: 1px solid #665F55;
  color: #665F55;
  display: flex;
  align-items: center;
  gap: 8px;
}

.app-buttons button img {
  margin-left: 20px;
}

.app-button-content {
  display: flex;
  flex-direction: column;
  text-align: start;
}

.app-button-text {
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 140%;

}

.app-button-ecosystem {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;

}

.app-image {
  width: 39.375rem;
  height: 39.375rem;
}

.footer {
  width: 100%;

  margin-top: 100px;
  border-radius: 40px;
  background: #665F55;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 100px;
}

.footer-content {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.footer-content-title {
  width: 530px;
  height: 150px;
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 125%;
  color: #E1D4C9;
}

.socials {
  display: flex;
  flex-direction: row;
  gap: 12px;
  margin-top: 40px;
}

.socials button {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: #665F55;
  border: 1px solid #C1B6AD;
  border-radius: 100px;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.contacts-title {


  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 125%;
  color: #E1D4C9;
  margin-bottom: 40px;
}

.contacts-items {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.contacts-items span {
  width: 234px;
  height: 24px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #E1D4C9;
}

.contact-item {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: start;
}

/* menu styles */
.menu-offer {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

.menu-offer-title {
  width: 800px;
  height: 150px;
  font-style: normal;
  font-weight: 600;
  font-size: 60px;
  line-height: 125%;
  text-align: center;
  color: #403F3D;
}

.menu-offer-buttons {
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: center;
}

.menu-offer-buttons button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 16px 8px 8px;
  gap: 8px;


  height: 46px;

  border-radius: 100px;
  background: #E1D4C9;
  border: solid #C1B6AD 1px;
}

.menu-offer-buttons-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 100px;
  background: #C1B6AD
}

.menu-offer-buttons-content span {
  width: 62px;
  height: 24px;

  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #403F3D;
}

.menu-preview {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 40px;
}

.menu-position {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
  width: 310px;
  height: 506px;
  border: 1px solid #C1B6AD;
  border-radius: 40px;
}

.menu-position-image {
  border-radius: 40px;
  overflow: hidden;
}

.menu-position-image img {
  width: 100%;
  height: 310px;
  border-radius: 40px;
}

.menu-position-image img:hover {
  transform: scale(1.1);
  transition: all 0.5s;
}

.menu-position-description {
  display: flex;
  height: 196px;
  justify-content: space-between;
  /* margin-top: 20px; */
  padding: 20px 0;
  flex-direction: column;
  gap: 12px;
}

.menu-position-content {}

.menu-position-title {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 125%;

  color: #403F3D;
}

.menu-position-text {
  width: 270px;
  font-style: normal;
  font-weight: 400;
  margin-top: -20px;
  font-size: 16px;
  line-height: 150%;
  color: #403F3D;
}

.menu-position-price {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 125%;

  color: #403F3D;
}
